@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1200px;
}

:root {
	--Orange: #ffa157;
	--Background: #05040d;
}

body {
	font-family: "Kurale", sans-serif;
	/* font-size: 16px; */
	/* font-weight: 400; */
	/* line-height: 24px; */
	/* color: black; */
	background-color: var(--Background);
	overflow: hidden;
	overflow-y: auto;
}

::-webkit-scrollbar {
	display: none;
}

/* Для IE і Edge */
body {
	-ms-overflow-style: none;
}

/* Для Firefox */
body {
	scrollbar-width: none;
}

a {
	font-family: "Kurale", sans-serif;
	text-decoration: none;
}

.embla {
	/* max-width: 48rem; */
	margin: auto;
	padding: 1rem 0;
	--slide-height: 19rem;
	--slide-spacing: 1rem;
	--slide-size: 55%;

	--slide-height-fb: 19rem;
	--slide-spacing-fb: 0.7rem;
	--slide-size-fb: 100%;
	--slide-spacing-sm-fb: 1rem;
	--slide-size-sm-fb: 50%;
	--slide-spacing-lg-fb: 2rem;
	--slide-size-lg-fb: calc(100% / 3);

	--detail-medium-contrast: rgb(25, 25, 25);
}
.embla-feedback {
	padding: 1rem 0;
}

.embla__viewport {
	overflow: hidden;
}

.embla__container {
	display: flex;
	touch-action: pan-y pinch-zoom;
	margin-left: calc(var(--slide-spacing) * -1);
}

.embla__container-feedback {
	backface-visibility: hidden;
	display: flex;
	touch-action: pan-y pinch-zoom;
	margin-left: calc(var(--slide-spacing-fb) * -1);
}

@media (min-width: 750px) {
	.embla__container {
		margin-left: calc(var(--slide-spacing-sm) * -1);
	}
}
@media (min-width: 1200px) {
	.embla__container {
		margin-left: calc(var(--slide-spacing-lg) * -1);
	}
}

.embla__slide {
	transform: translate3d(0, 0, 0);
	flex: 0 0 var(--slide-size);
	min-width: 0;
	padding-left: var(--slide-spacing);
}

.embla__slide-feedback {
	min-width: 0;
	flex: 0 0 var(--slide-size-fb);
	padding-left: var(--slide-spacing-fb);
}
@media (min-width: 750px) {
	.embla__slide-feedback {
		flex: 0 0 var(--slide-size-sm-fb);
		padding-left: var(--slide-spacing-sm-fb);
	}
}
@media (max-width: 480px) {
	.embla__slide {
	transform: translate3d(0, 0, 0);
	/* flex: 0 0 450px;
	overflow: hidden; */
	min-width: 0;
	padding-left: var(--slide-spacing);
}
	.embla__slide-feedback {
		/* flex: 0 0 var(--slide-size-sm-fb);
		padding-left: var(--slide-spacing-sm-fb); */
		padding-left: 25px;
		padding-right: 25px;
	}
}
/* @media (min-width: 1200px) {
  .embla__slide-feedback {
    flex: 0 0 var(--slide-size-lg-fb);
    padding-left: var(--slide-spacing-lg-fb);
  }
} */

.embla__slide__img {
	box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
	border-radius: 0.8rem;
	width: 100%;
	object-fit: cover;
}

.embla__controls {
	display: flex;
	justify-content: space-around;
	margin-top: 1.8rem;
}

.embla__buttons-feedback {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	margin-right: 10px;
}

.embla__button {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	touch-action: manipulation;
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid var(--Orange, rgba(255, 161, 87, 1));
	border-radius: 24px;
	box-shadow:
		inset -4px -4px 4px 0px rgba(0, 0, 0, 0.45),
		inset 4px 4px 12px 0px rgba(255, 255, 255, 0.08),
		inset 4px 4px 4px 0px rgba(253, 136, 10, 0.06);
	background: var(--Background, rgba(5, 4, 13, 1));
	padding: 0;
	margin: 0;
	width: 3.6rem;
	height: 3.6rem;
	z-index: 1;
	border-radius: 50%;
	color: var(--Orange);
	display: flex;
	align-items: center;
	justify-content: center;
}

.embla__button:disabled {
	color: grey;
	border-color: grey;
}

@media (max-width: 480px) {
	.embla__button {
		display: none;
	}
}

.embla__button__svg {
	width: 35%;
	height: 35%;
}

.embla__dots {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	touch-action: manipulation;
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
	width: 2.6rem;
	height: 2.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.embla__dot:after {
	box-shadow: inset 0 0 0 0.1rem var(--Orange);
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	content: "";
}

.embla__dot--selected:after {
	box-shadow: inset 0 0 0 0.1rem var(--Orange);
	background-color: var(--Orange);
	width: 2rem;
	height: 2rem;
}

.embla__slide__number {
	backface-visibility: hidden;
}

.prise_items-container {
	display: grid;
	width: 100%;
	gap: 24px;
	margin-top: 48px;
	grid-template-areas:
		"basic standart premium"
		"brending tg support";
}

@media (max-width: 830px){
	.prise_items-container {
			grid-template-areas:
			"basic"
			"standart"
			"premium"
			"brending" 
			"tg" 
			"support";
	}
}

@media (min-width: 830px) and (max-width: 1250px) {
	.prise_items-container {
		grid-template-areas:
			"basic basic standart standart"
			". premium premium ."
			"brending brending tg tg"
			". support support .";
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
}

.feedback_form-container {
	display: grid;
	width: 100%;
	gap: 48px;
		grid-template-areas:
		"socials spline inputs"	
}

@media (max-width: 744px){
	.feedback_form-container {
			grid-template-areas:
			"socials"
			"inputs"
			"spline";
	}
}

@media (min-width: 744px) and (max-width: 1200px) {
	.feedback_form-container {
		grid-template-areas:
			"socials spline"
			"inputs spline";
			/* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
	}
}
